@layer global {
  /* dm-sans-300 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 300;
    src: url("/assets/fonts/dm-sans-v16-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* dm-sans-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    src: url("/assets/fonts/dm-sans-v16-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* dm-sans-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 600;
    src: url("/assets/fonts/dm-sans-v16-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* dm-sans-600italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "DM Sans";
    font-style: italic;
    font-weight: 600;
    src: url("/assets/fonts/dm-sans-v16-latin-600italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* dm-sans-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/dm-sans-v16-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* bricolage-grotesque-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Bricolage Grotesque";
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/bricolage-grotesque-v8-latin-700.woff2")
      format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  :root {
    --body-color: #f0f3f7;
    --container--bg-color: #fff;

    --primary-text-color: #454545;
    --secondary-text-color: rgb(138, 138, 138);

    --icon-bg-color: rgb(96%, 96%, 96%);

    --btn-color: #6d6c6c;
    --btn-blue: #3076ff;
  }
}
* {
  margin: 0;
}

body {
  font-family: "DM Sans", Arial, Arial, Helvetica, sans-serif;
  height: 100vh;
  background-color: var(--body-color);
  box-sizing: border-box;
}

.main-container {
  display: grid;

  gap: 16px;
  padding: 10px;
  grid-template-columns: 100px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "side-nav menu-container"
    "side-nav body-container";
  overflow: hidden;
  box-sizing: border-box;
}

@layer side-nav {
  .side-nav {
    background-color: var(--container--bg-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    padding-block: 32px;
    width: 100px;
    flex-shrink: 0;
    grid-area: side-nav;
  }

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .menu-button {
    cursor: pointer;
    padding: 16px 12px;
    color: var(--btn-color);
  }

  .menu-button > .fa-solid {
    display: inline;
    padding: 16px;
    border-radius: 50%;
    font-size: 20px;
    transition: all 300ms ease-in-out;
  }

  .menu-button > .fa-solid:hover {
    color: var(--btn-blue);
    padding: 16px;
    background-color: #dee8fd;
    border-radius: 50%;
  }
  .active {
    color: var(--btn-blue);
    padding: 16px;
    background-color: #dee8fd;
    border-radius: 50%;
  }
}

@layer menu-container {
  .menu-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
    grid-area: menu-container;
    padding-inline: 16px;
  }

  .day-state {
    padding-block: 16px;
    color: var(--primary-text-color);
    min-width: 160px;
  }

  .date {
    color: var(--secondary-text-color);
    padding-block-start: 4px;
  }

  .menu-state {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding-block: 16px;
  }
  .search-option {
    position: relative;
    color: var(--primary-text-color);
    max-width: 420px;
  }

  .search {
    padding: 10px 36px;
    font-size: 16px;
    min-width: 19rem;
    border: none;
    border-radius: 25px;
  }

  .search-option i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
  }

  .select-month {
    display: flex;
    padding: 10px 24px;
    border-radius: 25px;
    background-color: var(--container--bg-color);
    cursor: pointer;
  }

  .notification {
    position: relative;
    font-size: 24px;
    cursor: pointer;
    padding-inline-end: 16px;
    border-inline-end: 1px solid var(--secondary-text-color);
  }

  .circle {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 3px;
    right: 19px;
    background-color: mediumspringgreen;
    border: 1.5px solid white;
    visibility: hidden;
  }

  .circle.yes {
    visibility: visible;
  }

  .user-details {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }

  .user-photo {
    width: 60px;
    height: auto;
  }
  .user-photo img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }

  .user-name {
    font-size: 18px;
    font-weight: bold;
    padding-block-end: 4px;
  }

  .user-profession {
    color: var(--secondary-text-color);
  }
}

@layer deshboard {
  .grid-1 {
    grid-area: grid-1;
  }
  .grid-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    grid-area: grid-2;
  }
  .grid-3 {
    grid-area: grid-3;
  }
  .grid-4 {
    grid-area: grid-4;
  }
  .grid-5 {
    grid-area: grid-5;
  }
  .grid-6 {
    grid-area: grid-6;
  }
  .body-container {
    display: grid;
    gap: 16px;
    padding: 16px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    height: 82vh;
    grid-template-areas:
      "grid-1 grid-2 grid-3"
      "grid-4 grid-4 grid-6";
  }
  .grid-container {
    background-color: var(--container--bg-color);
    border-radius: 20px;
    padding: 16px;
  }

  .title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding-block: 8px;
    color: var(--primary-text-color);
  }
  .icon {
    background-color: var(--primary-text-color);
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
  }
  .icon i {
    color: var(--secondary-text-color);
  }

  .finance-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
  }

  .balance-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    height: 90%;
    font-size: 20px;
    padding-inline: 24px;
    border-left: 1px solid var(--icon-bg-color);
  }

  .balance-title {
    font-size: 14px;
    color: var(--secondary-text-color);
    padding-block-end: 6px;
  }

  .chart-container {
    height: 300px;
    width: auto;
  }

  .bar-chart {
    height: 300px;
    width: 400px;
    align-self: center;
  }

  .transation {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    padding-block: 8px;
    padding: 16px;
  }

  .transation-icon {
    padding: 12px;
    background-color: var(--icon-bg-color);
    border-radius: 50%;
  }

  .transation-icon img {
    width: 24px;
  }
  .transation-cost {
    justify-self: flex-end;
  }
  .transation-date {
    color: var(--secondary-text-color);
    font-size: 14px;
  }

  .transation-amount {
    font-weight: bold;
    font-size: 18px;
    color: var(--primary-text-color);
    right: 2rem;
    float: right;
    position: absolute;
  }
  .transation-category {
    color: var(--primary-text-color);
    padding-block: 4px;
    font-weight: bold;
  }
  .savings-cards {
    display: flex;
    flex-direction: column;

    gap: 16px;
  }
  .savings-card {
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 16px;
    color: var(--secondary-text-color);
    border-radius: 15px;
    margin-block-end: 16px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  }
  .savings-card img {
    width: 24px;
    padding: 12px;
    background-color: var(--icon-bg-color);
    border-radius: 50%;
  }

  .savings-category {
    padding-block-end: 6px;
  }
  .savings-amount {
    color: var(--primary-text-color);
    font-weight: bold;
  }
  .bar-item {
    padding-block: 8px;
  }
  .budget-info {
    font-weight: bold;
    color: var(--secondary-text-color);
    display: flex;
    justify-content: space-between;
    padding-block: 8px;
  }
}

.progress-bar {
  position: relative;
  display: flex;
  height: 20px;
  width: 100%;
  background: var(--icon-bg-color);
  border-radius: 10px;
  overflow: hidden;
}

.grocery-spend {
  height: 20px;
  background: #000;
  width: 36%;
}
.car {
  height: 20px;
  background-color: salmon;
  width: 40%;
}

.bill {
  height: 20px;
  width: 21%;
  background-color: #3076ff;
}

.drinks {
  height: 20px;
  width: 21%;
  background-color: #3076ff;
}

.traveling {
  height: 20px;
  width: 46%;
  background-color: pink;
}

.play {
  height: 20px;
  width: 9%;
  background-color: black;
}
